*****************************************************
bienvenu dans {{ ansible_hostname }}
ce fichier a été crée le {{ ansible_date_time.date }}
Accès interdit pour personnes non autorisées.
contacter {{ system_manager }} en cas de problème
*****************************************************

