Listen *:8080
NameVirtualHost {{ ansible_fqdn }}
<VirtualHost {{ ansible_fqdn }}:8080>
    ServerName {{ ansible_fqdn }}
    DocumentRoot /var/www/html
    ServerAdmin {{ system_owner }}
</VirtualHost>

